*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#main{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-image: url(Assets/img1.jpg);
    background-position: center;
    background-size: cover;
}

#heading{
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    letter-spacing: 4px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 3);
}

#center{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: flex-end;
    background-image: url(Assets/img1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}

#left{
    border: 8px solid rgb(2, 0, 0);
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 5px 5px ;
    width: 300px; 
    gap: 5px;
}

#right{
    border: 8px solid rgb(2, 0, 0);
    height: 100% ;
    background-color: #000;
    display: grid;
    grid-template-columns: 300px 80px;
    grid-template-rows: 25px 60px;

    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd hd side1 side1"
    "hd hd hd hd hd hd hd hd hd hd hd side1 side1"
    "hd hd hd hd hd hd hd hd hd hd hd side2 side2"
    "hd hd hd hd hd hd hd hd hd hd hd side2 side2"
    "hd hd hd hd hd hd hd hd hd hd hd side2 side2"
    "hd hd hd hd hd hd hd hd hd hd hd side2 side2"
    "hd hd hd hd hd hd hd hd hd hd hd side2 side2"
    "dh dh dh dh dh dh dh dh dh dh dh side3 side3"
    "dh dh dh dh dh dh dh dh dh dh dh side4 side4";
    
    width: 1200px;
    border-radius: 20px;
    /* gap: 10px; */
}

.box{
    /* border: 3px solid rgb(160, 6, 6); */
    border-radius: 10px;
    margin: 3px;
}

#topleft{
    /* grid-area: hd; */
    /* margin-left: 10px;
    margin-right: 10px; */
    /* padding-left: 20px; */
    width: 100%;
    border-radius: 10px;
    height: 40%;
    background-image: url(Assets/img6.jpg);
    background-position: center;
    background-size: cover;
}

#midleft{
    /* grid-area: mid; */
    width: 100%;
    height: 10%;
    border-radius: 10px;
    background-color: rgb(175, 217, 240);
    /* margin-left: 10px; */
    /* margin-right: 10px; */
}
#bottomleft{
    display: flex;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background-color:  rgb(175, 217, 240);
}

#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

#lnavr{
    display: flex;
    align-items: center;
}

#lnavb{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}
#leftbottomtext{
    padding-top: 20px;
    /* padding-left: 25px; */
    font-size: large;
}

#topright{
    grid-area: hd;
    background-image: url(Assets/img3.jpg);
    background-position: center;
    background-size: cover;
}

#bottomright{
    grid-area: dh;  
    background-color: #161515;
}

#textbottomright{
    padding-top: 15px;
    padding-left: 15px;
    font-size: small;
    color: antiquewhite;
}

#rightrighttop{
   grid-area: side1;
   display: flex;
   justify-content: center;
   align-items: center;
   color: antiquewhite;
   background-color: #161515;
}

#rightrightmid{
    grid-area: side2;
    background-color: rgb(233, 197, 154);
}

#rnavm{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    text-align:start;
}

#rightmidtext{
    font-size: small;
}

#rightmidtext p{
    opacity: .8;
    font-size: 12px;
    line-height: 20px;
}
#rightmidtext h2{
    opacity: .8;
    line-height: 20px;
}

#rightrightbottom{
   grid-area: side3;
   display: flex;
   justify-content: center;
   align-items: center;
   color: antiquewhite;
   background-color: #161515;
}

#rightrightbottombottom{
   grid-area: side4;
   display: flex;
   justify-content: center;
   align-items: center;
   color: antiquewhite;
   background-color: #161515;
}